{% extends 'base.html.twig' %}

{% block title %}HomepageController!{% endblock %}

{% block body %}

	{# search bar #}
	{% include 'search/search_bar.html.twig' %}

	<h1>VOLUMES</h1>

	{% include 'volume/volumes.html.twig' with {volumes:volumes.nextToReadStarted, display:'NEXT_TO_READ', section: {
		title: 'Next to Read',
		description: 'Volumes that are next to be read',
		id: 'nextToReadStarted',
		display: '',
	}} %}

	{% include 'volume/volumes.html.twig' with {volumes:volumes.nextToReadNotStarted, display:'NEXT_TO_READ', section: {
		title: 'Not started',
		description: 'Volumes that are not started yet',
		id: 'nextToReadNotStarted',
		display: 'list',
	}} %}

	{# TMP for testing #}
	{% include 'volume/volumes.html.twig' with {volumes:volumes.nextToReadStarted, display:'NEXT_TO_READ', section: {
		title: 'Next to Read',
		description: 'Volumes that are next to be read',
		id: 'nextToReadStarted',
		display: 'side',
	}} %}

	{#        {% include 'volume/volumes.html.twig' with {volumes:volumes.upToDate, display:'', section: { #}
	{#            title: 'Up to date', #}
	{#            description: 'Volumes that are up to date', #}
	{#            id: 'upToDate' #}
	{#        }} %} #}

	<h1>ITEMS</h1>
	@todo
{% endblock %}
