{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block searchbar %}

	{# search bar #}
	{% include 'search/search_bar.html.twig' %}

{% endblock %}

{% block body %}

	<h1>Volumes</h1>

	{# display: ''|'line'|'line scroll'|'list'|'grid' #}

	{% include 'volume/volumes.html.twig' with {volumes:volumes.nextToReadStarted, display:'NEXT_TO_READ', section: {
		title: 'Next to Read',
		description: 'Volumes that are next to be read',
		id: 'nextToReadStarted',
		display: '',
	}} %}

	{% include 'volume/volumes.html.twig' with {volumes:volumes.nextToReadNotStarted, display:'NEXT_TO_READ', section: {
		title: 'Not started',
		description: 'Volumes that are not started yet',
		id: 'nextToReadNotStarted',
		display: 'line scroll',
	}} %}

	{#    {% include 'volume/volumes.html.twig' with {volumes:volumes.upToDate, display:'', section: { #}
	{#        title: 'Up to date', #}
	{#        description: 'Volumes that are up to date', #}
	{#        id: 'upToDate' #}
	{#    }} %} #}

	<h1>Items</h1>

	{% include 'item/items.html.twig' with {items:items.nextToReadStarted, display:'NEXT_TO_READ', section: {
		title: 'Read next',
		description: 'Volumes that are not started yet',
		id: 'nextToReadStartedItems',
		display: 'line scroll',
	}} %}

	{% include 'item/items.html.twig' with {items:items.nextToReadNotStarted, display:'NEXT_TO_READ', section: {
		title: 'Not started',
		description: 'Volumes that are not started yet',
		id: 'nextToReadNotStartedItems',
		display: 'line scroll',
	}} %}

{% endblock %}
