<div id="search-bar">

	<div id="search-bar-container">

		<label for="search" class="hidden"></label>
		<input type="text"
				name="search"
				id="search"
				value="{{ search|default('') }}"
				placeholder="Search..."
		/>

	</div>

</div>
{# <div class="tmp"></div> #}