<li class="result">
	<img class="result-image"
			src="https://comicvine.gamespot.com/a/uploads/original/6/67663/5573660-12.jpg"
			alt="Batman : Damian Wayne (2055)">

	<div class="result-info">
		<div class="result-name">Batman : Damian Wayne <span class="result-year">(2055)</span></div>
		<div class="result-issues">67 issues</div>
		<div class="result-publisher">DC Comics</div>
	</div>

	<div class="result-badges">

	</div>
</li>