<div id="search">
	<div id="search-bar">

		<div id="search-bar-container">

			<label for="search" class="hidden"></label>
			<input type="text"
					name="search"
					id="search"
					value="{{ search|default('') }}"
					placeholder="Search..."
			/>

			<button class="cancel">Cancel</button>


		</div>

		<div id="search-bar-filters">
		</div>

	</div>

	<div id="search-filters" class="">
		<div class="search-filter">
			Search
		</div>
		<div class="search-filter selected">
			Library
		</div>
	</div>

	<div id="search-results" class="" {{ stimulus_controller('search') }}>

		<ul class="results">

		</ul>

	</div>
</div>
{# <div class="tmp"></div> #}