<div id="search" {{ stimulus_controller('search') }}>
	<div id="search-bar">

		<div id="search-bar-container">

			<label for="search" class="hidden"></label>
			<input type="text"
					name="search"
					id="search"
					value="{{ search|default('') }}"
					placeholder="Search..."
			/>

			<button class="cancel">Cancel</button>


		</div>

		<div id="search-bar-filters">
		</div>

	</div>

	<div id="search-filters" class="">
		<div class="search-filter selected"
				data-filter="collection"
				data-value="search"
				{{ stimulus_target('search', 'collectionFilter') }}>
			Search
		</div>
		<div class="search-filter"
				data-filter="collection"
				data-value="library"
				{{ stimulus_target('search', 'collectionFilter') }}>
			Library
		</div>
	</div>

	<div id="search-results" class="">

		<ul class="results">

		</ul>

	</div>
</div>
{# <div class="tmp"></div> #}