@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
	@apply text-base;
	@apply h-full;
}

html, body, .main {
	background-color: lightgray;
}

body {
	@apply flex flex-row grow overflow-hidden;
}

nav {

}

main {
	@apply overflow-y-auto;
	@apply w-full;
}

/**/

h2 {
	@apply text-xl font-bold;
}

h3 {
	@apply text-base;
}

/**/

nav,
main,
.main {
	height: auto;
}

nav {
	@apply w-[250px] shrink-0;
	@apply tablet:hidden;
	@apply border-r-[1px];
	background-color: darkgray;
}