body.searching,
body.searching main,
body.searching .main {
	@apply overflow-hidden;
}

#search-bar {
	/*@apply w-full;*/
	/*@apply py-2 px-3;*/

	@apply h-0 overflow-hidden;

	/*@apply transition-progress-bar duration-[0.6s];*/

	/*@apply flex content-center;*/

	/* tmp */
	/*@apply bg-black;*/
}

#search-bar #search-bar-container {
	@apply py-3 px-3;
	@apply max-h-full;

	/*@apply flex;*/
}

#search-bar input#search {
	/*@apply w-full;*/
	@apply w-full max-h-full;
	/*@apply */

	/* tmp */
	/*@apply h-[32px];*/
	@apply max-h-[32px];

	@apply transition-search-bar-width;
}

#search-bar input#search::-webkit-input-placeholder {
	opacity: 0;
}

#search-bar.open input#search::-webkit-input-placeholder {
	opacity: 1;
}

#search-bar input#search.open {
	/*@apply h-[32px];*/
	/*@apply max-h-[32px];*/
}

#search.focus {
	@apply min-h-[48px];

	@apply flex flex-col;
	@apply absolute top-0 left-0 right-0 bottom-0;

	@apply h-full;

	@apply overflow-hidden;


	/**/
	@apply z-50;
	@apply fixed top-0 w-full;

	/* tmp */
	background: lightgray;
}

#search.focus #search-bar {
	/*@apply fixed top-0 left-0 right-0 z-50;*/
	/*@apply mb-[48px];*/
}

#search.focus #search-bar #search-bar-container {
	@apply flex;
}

#search.focus #search-bar input#search {
	@apply w-3/4;
}

#search-bar button.cancel {
	@apply opacity-0 w-0;
	@apply transition-search-bar-width transition-search-bar-opacity;
}

#search.focus #search-bar button.cancel {
	@apply opacity-100 w-1/4;
}


#search-filters {
	@apply opacity-0 transition-search-bar-opacity;
	@apply h-0;
	@apply flex flex-nowrap justify-evenly;

	/* tmp */
	background: lightgray;
}

#search-filters .search-filter {
	@apply grow;
	@apply bg-gray-600;
	@apply h-6;
	@apply rounded-lg;
}

#search-filters .search-filter.selected {
	@apply bg-gray-200;
}

#search.focus #search-filters {
	@apply h-auto opacity-100;
	@apply py-1 px-3;
}

#search.focus #search-filters .search-filter {
}


#search-results {
	@apply opacity-0 transition-search-bar-opacity;
	@apply h-0;
	@apply grow;

	/* tmp */
	background: white;
}

#search.focus #search-results {
	@apply opacity-100 z-50;
	/*@apply h-[unset];*/
}


/* RESULTS */
/*#search:not(.focus) ul.results {*/
/*	@apply hidden;*/
/*}*/

ul.results {
	/*@apply flex;*/
	@apply overflow-y-auto max-h-full;

}

ul.results li.result {
	@apply flex flex-nowrap items-center;
	@apply h-16 p-1 w-full;
}

ul.results li.result .result-image {
	@apply h-full ;
}

ul.results li.result .result-image img {
	@apply w-auto max-h-full;
	/*@apply h-full w-auto;*/
	/*@apply flex flex-nowrap items-center;*/
	/*@apply h-16;*/
}

ul.results li.result .result-info {
	@apply flex flex-col flex-nowrap justify-center;
	@apply h-full;
	@apply text-sm;
}

ul.results li.result .result-badges {
	@apply h-full flex-grow-0 ml-auto;
	/*@apply w-1/12;*/
	@apply px-2;
	@apply flex items-center content-center;
}

ul.results li.result .result-badges svg,
ul.results li.result .result-badges i {
	@apply cursor-pointer;
}

/*.tmp {*/
/*	@apply mb-[1000px];*/
/*}*/

/* tmp */
/*#search {*/
/*	background: blue;*/
/*}*/

/*#search-results {*/
/*	background: red;*/
/*}*/