<section id="volume-next-to-read" class="unique issue-next-to-read"
		style="{{ volume.isDone() ? 'display:none' : '' }}">

	<h2>Next to read</h2>

	{% if volume.getNextToreadissue() == null %}

		{#  nothing #}

	{% else %}

		<div class="content volume-unique" {{ stimulus_controller('volume') }}>
			{% include 'volume/volume.html.twig' with {volume:volume, display: 'PROGRESS' } %}
			{#            controllers: [{ #}
			{#                name: 'volume' #}
			{#            }] #}
		</div>

	{% endif %}

</section>

